# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
*/session-account/session*
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.wwebjs_auth
# local env files
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
*.dev.js

# files
package-lock.json
router.json
router-*.json
yarn.lock
build-id.json